#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(255, 0, 0, 0.596);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  transition: all 0.7s;
  font-size: 16px !important;
  padding: 5px 10px;
  color: white;
}
.show-btn,
.no-show {
  display: block !important;
}
.show-btn {
  animation: bubbleUp 0.5s forwards;
}

.no-show {
  animation: bubbleDown 0.5s forwards;
}

@keyframes bubbleUp {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bubbleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
