.boxcard__container {
  width: 100%;
  min-height: 220px;
  padding: 20px;
  background-color: var(--rb-bg-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s;
  position: relative;
}
.boxcard__title {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: end;
}
.boxcard__description {
  color: var(--rb-text-primary);
  text-transform: uppercase;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: var(--rb-font-size-large);
  font-weight: 900;
  background-color: var(--rb-bg-secondary);
  text-align: center;
  display: flex;
}

.boxcard__contain-information {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.boxcard__contain-information > div {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 5px;
}
.boxcard__btn-partners {
  border: none;
  box-shadow: none;
  background-color: none;
  display: flex;
  align-items: center;
}
.boxcard__contain-information > div > p:first-child {
  background-color: var(--rb-bg-primary);
  padding: 0 5px;
  border-radius: 5px;
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
  text-align: center;
}
.boxcard__btn-info-partner {
  background-color: var(--rb-bg-light);
  padding: 0 5px;
  border-radius: 5px;
  color: var(--rb-text-secondary);
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
  text-align: center;
}
.boxcard__title-active {
  display: flex;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  right: 20px;
  transition: all 0.3s;
}
.boxcard__description-active {
  text-align: center;
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-medium);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 6px;
}
.boxcard__description-active > span {
  font-size: 35px;
}
.boxcard__date-active {
  background-color: var(--rb-bg-primary);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
}
.boxcard__date {
  font-size: 14px;
  font-weight: 600;
  color: var(--rb-text-primary);
}
.boxcard__container-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.boxcard__container-btn > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.boxcard__container-form {
  padding: 20px;
}
.boxcard__contain-form {
  background-color: var(--rb-bg-light);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.boxcard__contain > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.boxcard__target-description-form {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.boxcard__target-description-form > p {
  background-color: var(--rb-bg-secondary);
  color: var(--rb-bg-light);
  padding: 1px 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
}
.boxcard__container-img-form {
  display: flex;
  flex-direction: column;
  gap: px;
}

.boxcard__contain-img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.boxcard__contain-img-title > h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--rb-font-size-medium);
}
.boxcard__contain-img-title > img {
  width: 50px;
  object-fit: cover;
}
.boxcard__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcard__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.boxcard__form > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.boxcard__form > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.boxcard__form > div > input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  color: var(--rb-text-secondary);
  font-size: var(--rb-font-size-xlarge);
}
.boxcard__btn-select-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--rb-font-size-large);
  background-color: rgba(255, 255, 255, 0);
  width: 40px;
  height: 40px;
}
.boxcard__secureTokenRedeem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.boxcard__secureTokenRedeem-container > p {
  text-align: center;
  font-weight: bold;
}
.boxcard__secureTokenRedeem {
  text-align: center;
  font-size: var(--rb-font-size-xlarge);
  font-weight: bold;
  background-color: var(--rb-bg-options);
  color: var(--rb-bg-light);
  padding: 10px 10px 10px 30px;
  letter-spacing: 20px;
  display: inline-block;
  border-radius: 10px;
}

.info-avatar-partner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-left: -25px;
  z-index: calc(100 - var(--index));
  transition: transform 0.3s ease;
  object-fit: cover;
}

.info-avatar-partner:hover {
  transform: scale(1.2);
  z-index: 150;
}

.modal-details-users {
  display: flex;
  position: relative;
  padding: 10px;
}

.modal-details-users img:first-child {
  margin-left: 0;
}

.content-favorite {
  display: flex;
  justify-content: end;
  margin: 0 20px;
  align-items: end;
}
.content-favorite > span {
  background-color: var(--rb-bg-light);
  display: flex;
  align-items: start;
  color: var(--rb-text-secondary);
  padding: 2px 5px;
  border-radius: 5px;
  transform: translateX(-17px);
  opacity: 0.7;
}
.content-comments-card-partner{
  margin:10px;
}
.content-comments-card-partner > a {
  color: var(--rb-text-secondary);
  text-decoration:overline;
  font-size: 14px;
  padding: 0 2px;
  border-radius: 2px;
}
.content-comments-card-partner > a:hover{
  transform: scale(1.1);
}

@media (max-width: 620px) {
  .boxcard__title-active {
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 0 10px 10px 0px;
    position: relative;
  }
}
