.boxcard__container {
  width: 100%;
  min-height: 220px;
  padding: 20px;
  background-image: url('/images/caja.webp');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s;
}
.boxcard__title {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: end;
}
.boxcard__description {
  background-color: var(--rb-bg-secondary);
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  color: var(--rb-text-primary);
  display: flex;
  font-size: var(--rb-font-size-large);
}

.boxcard__contain-information {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.boxcard__contain-information > div {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 5px;
}
.boxcard__contain-information > div > p:first-child {
  background-color: var(--rb-bg-primary);
  padding: 0 5px;
  border-radius: 5px;
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
  text-align: center;
}
.boxcard__contain-information > div > p:last-child {
  background-color: var(--rb-bg-light);
  padding: 0 5px;
  border-radius: 5px;
  color: var(--rb-text-secondary);
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
  text-align: center;
}
.boxcard__title-active {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: end;
}
.boxcard__description-active {
  background-color: var(--rb-bg-options);
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  color: var(--rb-text-primary);
  display: flex;
  font-size: var(--rb-font-size-medium);
}
.boxcard__container-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.boxcard__container-btn > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.623);
  padding:10px;
  border-radius: 10px;
}
.boxcard__container-btn > div > button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534);
}
