.operations-component__container {
  padding: 80px 200px 120px;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
}
.operations-component__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operations-component__title > h2 {
  color: var(--rb-text-primary);
  text-transform: capitalize;
}

.operations-content__graphics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.operations-component__graphics {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  background-color: rgb(74, 49, 77);
  width: 100%;
  height: 470px;
  overflow: hidden;
}
.recharts-responsive-container{
  padding:10px;
}
.operations-component__graphics > p {
  background-color: var(--rb-bg-card);
  padding: 20px;
  width: 100%;
  min-height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.custom-tooltip{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.operations-content__sales{
  color:var(--rb-text-primary);
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-evenly;
  padding:20px 0px;
}

.operations-content__status-operation{
  display: flex;
  flex-direction: column;
  color:white;
  gap:30px;
}
.operations-content__status-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.operations-content__status-operations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 20svh;
  align-items: center;
  gap:20px;
}

.operations-content__status-operations > div{
  display: flex;
  align-self: center;
  background-color: rgb(30, 0, 58);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap:5px;
}

@media (max-width: 1456px) {
  .operations-component__container {
    padding: 80px 50px 120px;
  }
}
@media (max-width: 855px) {
  .operations-component__container {
    padding: 80px 20px 120px;
  }
}
