.operations-component__container {
  padding: 80px 200px 120px;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: start;
  width: 100%;
}
.operations-component__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operations-component__title > h2 {
  color: var(--rb-text-primary);
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
}

.operations-component__chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.operations-component__chart > div {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations-component__list-operations {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.operations-component__sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: row;
  align-content: stretch;
}

.operations-component__sales > div {
  position:relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--rb-bg-light);
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.operations-component__sales > div > div {
  flex: auto;
  height: 180px;
  padding: 20px;
}

.operations-component__sales-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.operations-component__sales-title > p {
  color: var(--rb-bg-primary);
  font-size: var(--rb-font-size-large);
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  line-height: 25px;
}

.operations-component__sales-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.operations-component__sales-amount > p {
  color: white;
  font-size: var(--rb-font-size-xlarge);
  font-weight: bolder;
  text-align: center;
  line-height: 25px;
}

.operations-component__sales-img{
  position: absolute;
  left:0;
  bottom:0;
  padding:10px
}

@media (max-width: 1456px) {
  .operations-component__container {
    padding: 80px 50px 120px;
  }
}
@media (max-width: 855px) {
  .operations-component__container {
    padding: 80px 20px 120px;
  }
}
@media (max-width: 600px) {
  .operations-component__title > h2 {
    font-size: 30px;
  }
}
