.comment__container-comments {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comment__container-comments > p {
  text-transform: uppercase;
  font-size: 14px;
}
.comment__container-comments > p > strong,
.comment__container-comments > i > strong {
  background-color: black;
  color: white;
  padding: 0 4px;
  border-radius: 5px;
  font-size: 12px;
}
.comment__content-info-user{
  display: flex;
  align-items: center;
  gap:5px;
}
.comment__content-info-user > img {
  width:30px;
  height:30px;
  border-radius: 50%;
}
.comment__content-msg{
  margin: 10px 0;
  background-color: var(--rb-bg-toast);
  border-radius: 10px;
}
.comment__content-msg > p {
  padding:20px;
  text-align: start;
  text-align: justify;
}
.comment__container-comments > i {
  text-align: end;
}
.comment__replies {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 0.5s;
}

.comment__view-replies {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.comment__reply-post-content {
  background-color: var(--rb-bg-toast);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin: 10px 0;
}
.comment__reply-input {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: var(--rb-bg-toast);
}
.comment__reply-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.comment__reply-btn {
  background-color: var(--rb-bg-primary);
  border: none;
  box-shadow: none;
  color: var(--rb-text-primary);
  padding:5px;
}
.comment__reply-btn:disabled {
  cursor: no-drop;
}
