.cart-items__container{
  padding:20px;
  background-color: var(--rb-bg-primary);
  border-radius: 20px;;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height:40svh;
  justify-content: space-between;
  gap:50px;
}
.cart-items__container > div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
.cart-items__container > div > h3{
  color:var(--rb-text-primary);
  text-align: center;
  text-transform: uppercase;
}
.cart-items__container > div > p{
  color:var(--rb-text-primary);
  
}
.cart-items__content-img{
  width:100%;
}
.cart-items__content-img > img{
  object-fit: cover;
  width:50px;
}
.cartitems__contentbtn-actions{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.cartitems__contentbtn-actions > *, .cartitems__contentbtn-actions > a > button{
  width:100%;
  text-transform: uppercase!important;
}
.cartitems__contentbtn-actions > button{
  background-color: var(--rb-bg-light);
  padding: 5px 10px;
  font-weight: bold;;
}
/* @media (max-width:849px) {
  .cart-items__container{
    margin:0px;
  }
} */