.dashboard__container {
  width: 100%;
  padding: 80px 20px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dashboard__cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 30%;
}

.dashboard__card {
  border-radius: 10px;
  background-image: url('/images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: var(--rb-bg-light);
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashboard__card > div {
  position: relative;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dashboard__card > div > h3 {
  text-align: start;
  color: var(--rb-text-primary);
  font-weight: 600;
  font-size: var(--rb-font-size-large);
}

.dashboard__contain-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--rb-bg-light);
  display: flex;
  overflow: hidden;
}
.dashboard__card > div > div > img {
  transition: all 0.3s;
  object-fit: cover;
}

.dashboard__card > div > div > img:hover {
  transform: scale(1.2);
}

.dashboard__edit-avatar {
  position: absolute;
  width: 50px;
  cursor: pointer;
}

.dashboard__banner-partner {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: var(--rb-bg-light);
  background-image: url('/images/restaurante.ico');
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
  min-height: 230px;
  width: 30%;
}
.dashboard__banner-partner:hover {
  transform: scale(0.9);
}

.dashboard__banner-partner > div {
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.dashboard__banner-partner > div > p {
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-large);
  text-align: center;
}

@media (max-width: 769px) {
  .dashboard__cards-container,
  .dashboard__banner-partner {
    width: 500px;
  }
}
