.profile__container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--rb-bg-light);
  width: 300px;
}
.profile__container > p {
  background-color: var(--rb-bg-tertiary);
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}
.profile__container > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.profile__container > ul > li {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.profile__container > ul > li > p {
  background-color: var(--rb-bg-primary);
  padding: 0 2px;
  border-radius: 5px;
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-small);
}
.profile__img-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin-top: 20px;
}
.profile__img-container > img {
  width: 10%;
  object-fit: cover;
}
