.promobox__container {
  width: 100%;
  padding: 80px 200px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.promobox__cards-container {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: all 0.3s;
  /* background-image: url('/images/taza-cafe.webp');
  background-color: rgb(209, 209, 209);
  background-position: 120% 90%;
  background-repeat: no-repeat;
  background-size: 350px;
  border-radius: 10px; */
  padding: 10px;
}

.promobox__card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  transition: all 0.3s;
}

.promobox__card > div {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.promobox__card > div > h3 {
  color: var(--rb-text-primary);
  font-weight: 600;
  font-size: calc(5vw + 5vh);
  padding: 5px 8px;
  text-align: center;
}

@media (max-width: 1456px) {
  .promobox__container {
    padding: 80px 50px 120px;
  }
}

@media (max-width: 832px) {
  .promobox__container {
    padding: 80px 20px 120px;
  }
}

@media (max-width: 480px) {
  .promobox__contain-card-box {
    min-width: 208px;
  }
}
