.promobox__container {
  width: 100%;
  padding: 80px 100px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.promobox__cards-container {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: all 0.3s;
  /*
  background-color: rgb(209, 209, 209);
  background-image: url('/images/taza-cafe.webp');
  background-position: 120% 90%;
  background-repeat: no-repeat;
  background-size: 350px;
  */
  border-radius: 10px;
  padding: 10px;
}

.promobox__card {
  width: 100%;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.promobox__card > div {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.promobox__card > div > h3 {
  color: var(--rb-text-primary);
  font-weight: 600;
  font-size: calc(4vw + 4vh);
  padding: 5px 8px;
  text-align: center;
}

@media (max-width: 1456px) {
  .promobox__container {
    padding: 80px 50px 120px;
  }
}

@media (max-width: 832px) {
  .promobox__container {
    padding: 80px 20px 120px;
  }
}

@media (max-width: 480px) {
  .promobox__contain-card-box {
    min-width: 208px;
  }
}
