.container-how-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contain-how-work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--rb-spacing-large) 0;
}
.contain-how-work-title > h2 {
  text-align: center;
  color: var(--rb-text-secondary);
}

.contain-box-work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
.contain-box-work:nth-child(3) {
  flex-direction: row-reverse;
}

.contain-title-app-work {
  margin-bottom: 50px;
  text-align: center;
  width: 400px;
}
.contain-description-work > div > p {
  text-align: center;
}
.contain-box-img-work {
  display: flex;
  object-fit: cover;
}
.contain-box-img-work > img {
  width: 250px;
}
@media (max-width: 840px) {
  .contain-box-work:nth-child(3) {
    flex-direction: column;
  }
  .contain-box-work {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contain-title-app-work {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container-how-work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contain-description-work {
    width: 100%;
    height: auto;
  }

  .contain-box-img-work {
    justify-content: center;
  }

  .contain-box-img-work > img {
    width: 70%;
    object-fit: contain;
  }
}
