.partner__container {
  border-radius: 10px;
  background-color: var(--rb-bg-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: auto;
  transition: all 0.3s;
  overflow: hidden;
}
.partner__banner {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
}
.partner__banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
}
.partner__banner > img:hover {
  transform: scale(1.1);
}
.partner__avatar {
  position: absolute;
  margin: 10px;
  width: 70px;
  height: 70px;
}
.partner__avatar > img {
  transition: all 0.3s;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.partner__avatar > img:hover {
  transform: scale(1.1);
}
.partner__title {
  display: flex;
  justify-content: center;
}
.partner__container > div > p {
  background-color: var(--rb-bg-primary);
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  color: var(--rb-text-primary);
  display: flex;
}
.partner__contain-information {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.partner__contain-information > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.partner__bg_p{
  background-color: var(--rb-bg-primary);
  
}
.partner__contain-information > div > p:first-child {
  color: var(--rb-text-primary);
  padding: 0 5px;
  border-radius: 5px;
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
}

.partner__contain-btn-users {
  padding: 0 3px;
  background-color: var(--rb-bg-card-img);
}

.partner__modal-card {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.partner__state{
  color: var(--rb-text-primary);
  padding: 0 5px;
  border-radius: 5px;
  font-size: var(--rb-font-size-small);
  text-transform: capitalize;
}
.partner__modal-card > div > img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.partner__modal-card > div {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.partner__modal-card > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.partner__modal-card > div > div > p:first-child {
  background-color: var(--rb-bg-primary);
  color: var(--rb-text-primary);
  padding: 0 5px;
  font-size: var(--rb-font-size-small);
  border-radius: 5px;
}

.partner__contain-roles > p {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.partner__contain-roles > p > span {
  background-color: var(--rb-bg-primary);
  border-radius: 5px;
  padding: 0 3px;
  color: var(--rb-text-primary);
}
