.content_cart__quantity-number{
  position: relative;
}
.content_cart__quantity-number > p {
  position: absolute;
  background-color: rgb(93, 218, 68);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--rb-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5px;
  right: 10px;

}
