.container-hero {
  width: 100%;
  padding:0px;
}
.contain-function {
  background-color: var(--rb-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80svh;
  margin-top: -8px;
  padding: 0px 20px;
  gap: 50px;
}
.contain-function > div > h2 {
  text-align: center;
}

.home__promo-box-section{
  background-color: var(--rb-bg-primary);
}