.mybox__container {
  width: 100%;
  padding: 80px 200px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mybox__cards-container {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: all 0.3s;
  /* background-image: url('/images/logo.png');
  background-position: 90% 90%;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 10px;
  */
  justify-content: center;
  align-items: center;
}

.mybox__card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  transition: all 0.3s;
}

.mybox__card > div {
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.mybox__card > div > h3 {
  width: 100%;
  height: 100%;
  color: var(--rb-text-primary);
  border-radius: 10px;;
  font-weight: 600;
  font-size: calc(5vw + 5vh);
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mybox__no-box {
  color: var(--rb-text-primary);
  font-size: var(--rb-font-size-large);
  margin-top: 70px;
}

@media (max-width: 1456px) {
  .mybox__container {
    padding: 80px 50px 120px;
  }
}
@media (max-width: 832px) {
  .mybox__container {
    padding: 80px 20px 120px;
  }
}
